span{
	font-weight: bold;
	margin-right: 10px;
}
p span:nth-child(2){
	margin-left:40px; 
}
p span:last-child{
	margin-left:40px; 
}
.lianjie{
	margin-left:40px; 
}
h2{
	padding-top: 10px;
	padding-bottom: 10px;
}